:root {
    --mobile-treshold: 600px;

    --main-color: red;
    --secondary-color: blue;
    --third-color: rgb(32, 222, 32);

    --margin-xs: 4px;
    --margin-sm: 8px;
    --margin-md: 12px;

    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 12px;
    --padding-lg: 20px;
    --padding-xl: 24px;
}

* {
    padding: 0px;
    margin: 0px;
}